
//animation affichage de menu
.choice-anim{ 
    transform-origin: top;
    opacity: 0;
}
@keyframes affichage{
    0%{
        opacity: 0;
       transform: scaleY(0);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}   

//animation btn validation 
.choice{
    @include Btn-validation;
}