
@use 'sass:math';
$colour-primary:#9356DC ;
$colour-secondary:#FF79DA;
$colour-Tertiary:#99E2D0;
$colour-bg:#f6f6f6;
$colour-bg-dark: darken(#f6f6f6,5%);
$colour-bg-footer:#353535;
$colour-txt-footer:#fff ;
$colour-txt-btn:#fff;
$size-title:25px;
$font-weight-title:600;
$gradien:linear-gradient(173deg, $colour-secondary 0%, $colour-primary 90%);
$box-shadow-btn-funct:  0px 0px 12px 0px rgb(0 0 0 / 15%) ;
$padding-btn-funct : 25px 0px 25px 0px ;
$size:50%;


//variables spinner

$animation-spinner-duration : 3s;
$animation-leter-duration: 1s;
$num-char-resto:8;
$animation-leter-delay: math.div($animation-leter-duration, $num-char-resto);

//variable animation affichage de menu 
$anim-duration-affich: 1s;
$anim-num-choice:3;
